.chart-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-title {
  flex: none;
  padding: 12px;
  text-align: center;
}

.regression {
  font-weight: 500;
}

.chart {
  flex: 1;
  height: 0;
  user-select: none;
}

.grid {
  stroke: var(--slate-6);
  stroke-dasharray: 6;
}

.axis line {
  stroke: var(--slate-12);
}

.axis text {
  fill: var(--slate-12);
}

.scatter {
  fill: var(--slate-12);
}

.data-line path {
  stroke: var(--slate-12);
}

.zero-reference line {
  stroke: var(--slate-9);
}
