.list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  border-radius: 4px;
  transition: background-color 0.15s;
}

.item:hover {
  background-color: var(--slate-4);
}

.row {
  display: flex;
  gap: 6px;
  align-items: center;
}

.row svg {
  flex: none;
}

.row .text {
  flex: 1;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  font-weight: 500;
}

.red {
  color: var(--red-9);
}

.gray {
  color: var(--slate-9);
}
