.list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  padding: 12px;
  border-radius: 4px;
  transition: background-color 0.15s;
}

.item:hover {
  background-color: var(--slate-4);
}

.title,
.diff,
.distance {
  display: flex;
  gap: 6px;
  align-items: center;
}

.title,
.diff {
  margin-bottom: 8px;
}

.title {
  font-weight: 500;
}

.red {
  color: var(--red-9);
}

.gray {
  color: var(--slate-9);
}
