.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--slate-a11);
  animation: overlay 0.15s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.dark .overlay {
  background-color: var(--slate-a1);
}

@keyframes overlay {
  from {
    backdrop-filter: blur(0);
  }

  to {
    backdrop-filter: blur(3px);
  }
}
