body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--slate-12);
  background-color: var(--slate-1);
}

body,
#root {
  height: 100vh;
  overflow: hidden;
}
