.wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.file-list {
  flex: none;
  width: 300px;
  border-right: 1px solid var(--slate-6);
}

.charts {
  display: flex;
  flex: 1;
  background-color: #fff;
}

:global(.dark) .charts {
  background-color: var(--slate-1);
}

.file-chart {
  flex: 5;
  border-right: 1px solid var(--slate-6);
}

.derived-charts {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.derived-charts > div {
  flex: 1;
}

.derived-charts > div:first-child {
  border-bottom: 1px solid var(--slate-6);
}
