.wrapper {
  display: flex;
  height: 100%;
}

.file-list {
  flex: none;
  width: 300px;
  background-color: var(--slate-2);
  border-right: 1px solid var(--slate-6);
}

@media (width <= 1400px) {
  .file-list {
    display: none;
  }
}
