.content {
  display: none;
  padding: 6px;
  background-color: #fff;
  border: 1px solid var(--slate-6);
  border-radius: 8px;
  box-shadow:
    0 10px 15px -3px var(--slate-8),
    0 4px 6px -4px var(--slate-8);
}

.content[data-state='open'] {
  display: block;
}
