.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.header,
.body {
  padding: 12px;
}

.body {
  flex: 1;
  height: 0;
}

.header {
  display: flex;
  flex: none;
  gap: 6px;
  align-items: center;
  border-bottom: 1px solid var(--slate-6);
}

.add-files-button {
  flex: 1;
}
