@import url('@radix-ui/colors/slate.css');
@import url('@radix-ui/colors/blue.css');
@import url('./reset.css');
@import url('./button.css');
@import url('./icons.css');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body,
#root {
  height: 100vh;
  overflow: hidden;
}
