.trigger {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.content {
  max-width: 140px;
  padding: 8px;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--slate-1);
  text-align: center;
  user-select: none;
  background-color: var(--slate-a11);
  border-radius: 8px;
  outline: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.content[data-state='delayed-open'],
.content[data-state='instant-open'] {
  animation-name: slide;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
