.content {
  display: flex;
  flex-direction: column;
}

.content.scrollable {
  height: calc(100vh - 40px);
}

.header,
.footer {
  flex: none;
  padding: 20px;
}

.header {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid var(--slate-6);
}

.footer {
  border-top: 1px solid var(--slate-6);
}

.body {
  flex: 1;
  height: 0;
}

.title {
  flex: 1;
  width: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  line-height: 0;
  color: var(--slate-1);
  cursor: pointer;
  background-color: var(--slate-12);
  border: none;
  border-radius: 100%;
  transition: background-color 0.15s;
}

.close:focus {
  outline: 1px solid var(--slate-12);
  outline-offset: 2px;
}

.close:hover {
  background-color: var(--slate-11);
}

.close:active {
  background-color: var(--slate-10);
}

/* Sizes -------------------------------------------------------------------- */

.content.size-400 {
  width: 400px;
}

@media (width <= 460px) {
  .content.size-400 {
    width: 90vw;
  }
}

.content.size-600 {
  width: 600px;
}

@media (width <= 660px) {
  .content.size-600 {
    width: 90vw;
  }
}

.content.size-800 {
  width: 800px;
}

@media (width <= 860px) {
  .content.size-800 {
    width: 90vw;
  }
}
