.overlay {
  position: fixed;
  inset: 0;
  animation: overlay 0.15s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.content {
  position: fixed;
  top: 0;
  left: 50%;
  background-color: #fff;
  border: 1px solid var(--slate-6);
  border-radius: 8px;
  outline: none;
  box-shadow:
    0 10px 15px -3px var(--slate-4),
    0 4px 6px -4px var(--slate-4);
  transform: translate(-50%, 20px);
  animation: content 0.15s cubic-bezier(0.16, 1, 0.3, 1);
}

:global(.dark) .content {
  background-color: var(--slate-4);
  box-shadow: none;
}

.header,
.body {
  padding: 20px;
}

.header {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid var(--slate-6);
}

.title {
  flex: 1;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  line-height: 0;
  color: var(--slate-1);
  cursor: pointer;
  background-color: var(--slate-12);
  border: none;
  border-radius: 100%;
  transition: background-color 0.15s;
}

.close:focus {
  outline: 1px solid var(--slate-12);
  outline-offset: 2px;
}

.close:hover {
  background-color: var(--slate-11);
}

.close:active {
  background-color: var(--slate-10);
}

@keyframes overlay {
  from {
    backdrop-filter: blur(0);
  }

  to {
    backdrop-filter: blur(3px);
  }
}

@keyframes content {
  from {
    opacity: 0;
    transform: translate(-50%, 40px) scale(0.8);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 20px) scale(1);
  }
}

/* Sizes -------------------------------------------------------------------- */

.content.size-400 {
  width: 400px;
}

@media (width <= 460px) {
  .content.size-400 {
    width: 90vw;
  }
}

.content.size-600 {
  width: 600px;
}

@media (width <= 660px) {
  .content.size-600 {
    width: 90vw;
  }
}
