.chart-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-title {
  flex: none;
  padding: 12px;
  text-align: center;
}

.chart {
  position: relative;
  flex: 1;
  height: 0;
  user-select: none;
}

.grid {
  stroke: var(--slate-6);
  stroke-dasharray: 6;
}

.axis line {
  stroke: var(--slate-12);
}

.axis text {
  fill: var(--slate-12);
}

.scatter {
  fill: var(--slate-12);
}

.data-line path {
  stroke: var(--slate-12);
}

.zero-reference line {
  stroke: var(--slate-9);
}

.export-button {
  position: absolute;
  top: 18px;
  right: 48px;
  z-index: 1;
}

@media (width <= 500px) {
  .chart {
    display: none;
  }

  .chart-title > h2 {
    margin-bottom: 24px;
  }

  .chart-title > div {
    font-size: 1.5rem;
  }
}
