.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-wrapper {
  display: flex;
  overflow: hidden;
  border: 1px solid var(--slate-12);
  border-radius: 4px;
  transition: box-shadow 0.15s;
}

.input-wrapper:focus-within {
  outline: 1px solid var(--slate-12);
  outline-offset: 3px;
  box-shadow: 0 0 0 1px var(--slate-12);
}

.input {
  flex: 1;
  width: 0;
  padding: 4px 8px;
  outline: none;
  background-color: transparent;
  border: none;
}

.input::placeholder {
  color: var(--slate-9);
}

.label {
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.right {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  color: var(--slate-1);
  background-color: var(--slate-12);
}

.help {
  margin-top: -2px;
  font-size: 0.85rem;
}

/* --- Invalid State -------------------------------------------------------- */

.wrapper.invalid .input-wrapper {
  outline-color: var(--red-9);
  border-color: var(--red-9);
}

.wrapper.invalid .input-wrapper:focus-within {
  box-shadow: 0 0 0 1px var(--red-9);
}

.wrapper.invalid .right {
  background-color: var(--red-9);
}

.wrapper.invalid .help {
  color: var(--red-9);
}

/* --- Disabled State ------------------------------------------------------- */

.input-wrapper.disabled,
.input-wrapper.disabled .right,
.input:disabled {
  color: var(--slate-10);
  cursor: not-allowed;
  background-color: var(--slate-4);
  border-color: var(--slate-4);
}

.input:disabled::placeholder {
  color: var(--slate-8);
}
