.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.item {
  padding: 0;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--slate-12);
  border-radius: 100%;
  transition: border-width 0.15s linear;
}

.item:focus {
  outline: 1px solid var(--slate-12);
  outline-offset: 2px;
}

.item[data-state='checked'] {
  border-width: 5px;
}

.label {
  cursor: pointer;
  user-select: none;
}

.bold {
  font-weight: 500;
}

/* --- Default Size --------------------------------------------------------- */

.wrapper.default .item {
  width: 18px;
  height: 18px;
}

/* --- Small Size ----------------------------------------------------------- */

.wrapper.small .item {
  width: 16px;
  height: 16px;
}

.wrapper.small .label {
  font-size: 0.9rem;
}
