.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
}

.chart-title {
  flex: none;
  padding: 12px;
  text-align: center;
}

.chart-wrapper {
  flex: 1;
  height: 0`;
}

.grid {
  stroke: var(--slate-6);
  stroke-dasharray: 6;
}

.axis line {
  stroke: var(--slate-12);
}

.axis text {
  fill: var(--slate-12);
}

.data-line {
  stroke: var(--slate-12);
}

.scale-line line {
  stroke: var(--green-9);
}

.reference-area path {
  fill: var(--red-3);
}

.reference-line {
  pointer-events: none;
}

.reference-line line {
  stroke: var(--red-9);
}

.resize-line line {
  stroke: transparent;
}

.wrapper.interactive .reference-line line {
  transition: stroke-width 0.25s;
}

.wrapper.interactive .resize-line line {
  cursor: ew-resize;
  stroke-width: 16px;
}

.wrapper.interactive .resize-line:hover + .reference-line line {
  stroke-width: 2px;
}

.wrapper.interactive.dragging-left .resize-line.right line {
  cursor: default;
}

.wrapper.interactive.dragging-left .reference-line.right line {
  stroke-width: 1px;
}

.wrapper.interactive.dragging-left .reference-line.left line {
  stroke-width: 2px;
}

.wrapper.interactive.dragging-right .resize-line.left line {
  cursor: default;
}

.wrapper.interactive.dragging-right .reference-line.left line {
  stroke-width: 1px;
}

.wrapper.interactive.dragging-right .reference-line.right line {
  stroke-width: 2px;
}

.tooltip {
  display: none;
  padding: 6px;
  background-color: #fff;
  border: 1px solid var(--slate-6);
  border-radius: 6px;
}

:global(.dark) .tooltip {
  background-color: var(--slate-4);
}

.wrapper.tooltip-visible .tooltip {
  display: block;
}

.wrapper :global(.recharts-active-dot) {
  display: none;
}
