.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-bottom: 48px;
}

.section:last-child {
  margin-bottom: 0;
}

.section > p {
  color: var(--slate-11);
  text-align: center;
}

@media (width <= 600px) {
  .section {
    margin-bottom: 24px;
  }
}
